.Rproj.user
.Rhistory
.RData
.Ruserdata
Lista_MOD1-PSB/MOD1-PSB.html
Lista_MOD2-PSB/MOD2-PSB.html
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-1.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-2.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-3.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-4.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-5.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-6.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-7.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-4-8.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-1.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-2.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-3.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-4.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-5.png
Lista_MOD2-PSB/MOD2-PSB_files/figure-html/unnamed-chunk-8-6.png
Lista_MOD3-PSB/MOD3-PSB.html
*.png
Lista_MOD4-PSB/MOD4-PSB.html
Lista_MOD5-PSB/MOD5-PSB.html
Lista_MOD6-PSB/MOD6-PSB.html
Lista_MOD7-PSB/MOD7-PSB.html
